/* --- Reset --- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
   
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}
/* --- Reset --- */

/* --- Variables --- */
:root {
    --bg-img-layer: -10;
    --nav-layer: 10;
    
}
/* --- Variables --- */
#navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

#nav2 {
    display: flex;
    margin-left: 100px;
}

#nav2 div {
    padding-left: 20px;
    padding-right: 20px;
    color: #4c4d5f;
}

#chevron-down {
    position: relative;
    left: 70px;
    bottom: 25px;
}

#chevron-down2 {
    position: relative;
    left: 85px;
    bottom: 25px;
}

#nav3 {
    display: flex;
    max-height: 30px;
}

#bonsai {
    font-size: 25px;
    color: #00b289;
    font-weight: 800;
}

#login {
    background-color: transparent;
    color: #00b289;
    border: 1px solid #00b289;
    border-radius: 3px;
    text-align: center;
    padding-top: 9px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 10px;
    margin-right: 10px;
}

#startfree {
    background-color: #00b289;
    color: white;
    border: 1px solid #00b289;
    border-radius: 3px;
    text-align: center;
    font-size: 10px;
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 15px;
}

#header {
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
}
 #plans {
    font-size: 32px;
    color:  #4c4d5f;
 }

 #header-right-container {
    display: flex;
    justify-content: flex-end;
 }

 #header-right {
    display: flex;
 }

 #month-free {
    color: #00b289;
    font-size: 10px;
 }

#monthly {
    color: #4c4d5f;
    margin-right: 20px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  #00b289;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:  #00b289;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px  #00b289;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

#yearly {
    color: #989898;
    margin-left: 20px;
}

#main {
    display: flex;
    justify-content: center;
}

#main-left {
    padding: 50px 50px;
    background-color: white;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    margin-right: 35px;
    line-height: 30px;
}

#workflow {
    font-size: 24px;
}

.dollar-number-month-container {
    display: flex;
}

.dollar {
    font-size: 24px;
}

.number {
    font-size: 40px;
}

.month {
    font-size: 24px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #00b289;
    margin: 1em 0;
    padding: 0;
}

#startfree2 {
    background-color: #00b289;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}

#main-right {
    padding: 50px 50px;
    background-color: white;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    line-height: 30px;
}

#workflowplus {
    font-size: 24px;
}

.parent {
    overflow: hidden; /* required */
    position: relative; /* required  for demo*/
  }
  
  .ribbon {
    margin: 0;
    padding: 0;
    background:  #00b289;
    color:white;
    position: absolute;
    top:0;
    right:0;
    transform: translateX(30%) translateY(0%) rotate(45deg);
    transform-origin: top left;
  }
  .ribbon:before,
  .ribbon:after {
    content: '';
    position: absolute;
    top:0;
    margin: 0 -1px; /* tweak */
    width: 100%;
    height: 100%;
    background: #00b289;
  }
  .ribbon:before {
    right:100%;
  }
  
  .ribbon:after {
    left:100%;
  }

#new-holder {
    display: flex;
}

#new {
    background-color: #f8db62;
    color: white;
    font-size: 10px;
    margin-left: 10px;
    
}

#startfree3 {
    background-color: #00b289;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}

#add-ons {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#add-ons-title-container {
    display: flex;
    justify-content: center;
}

#add-ons-title {
    color: #4c4d5f;
    font-size: 25px;
    margin: 10px 200px;
}

#add-ons1 {
    display: flex;
    justify-content: space-between;
    color:  #4c4d5f;
    background-color: white;
    margin: 10px 200px;
    line-height: 20px;
}

#add-ons2 {
    display: flex;
    justify-content: space-between;
    color:  #4c4d5f;
    background-color: white;
    margin: 10px 200px;
    line-height: 20px;
}

#add-ons3 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 10px 200px;
    line-height: 20px;
}

#advertisement-container {
    display: flex;
    justify-content: center;
}

#advertisement {
    display: flex;
    justify-content: space-between;
    padding: 100px 50px;
    background-color: #00b289;
    filter: opacity(30%);
}

#advertisement-left {
    font-size: 35px;
}

#advertisement-right {
    font-size: 16px;
    background-color: #00b289;
    color: white;
}

#FAQ-container {
    display: flex;
    justify-content: center;
}

#FAQ {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
}

#FAQ-title {
    font-size: 27px;
    color:  #00b289;
    margin-bottom: 20px;
}

#questions4 {
    font-size: 20px;
    color:  #4c4d5f;
    line-height: 30px;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 300px;
    color: #bebebe;
}

.footer-title {
    color:  #4c4d5f;
}